* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #151515;
}

/* START NAVBAR */

.navbar {
  background-color: #000000;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  max-height: 40px;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Menengahkan menu */
}

.menu-list-item {
  margin-right: 20px;
  color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 6px;
  border: none;
  border-radius: 5px;
  width: 250px;
}

.search-button {
  padding: 8px 15px;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.menu-list-item.active a {
  font-weight: bold; /* Menjadikan teks aktif (Home) menjadi tebal */
  background-color: rgb(0, 0, 0);
  color: aquamarine;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .menu-container {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle.active {
    display: none;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
  }

  .menu-list-item {
    margin: 10px 0;
  }

  .search-container {
    flex: 1;
    justify-content: flex-end;
  }

  .search-input {
    display: none;
  }
}

/* navbar pt 2 start */
.menu-list-item {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: -60px;
  background-color: #222222;
  text-decoration: none;
  width: 170px;
  text-align: center;
  border-radius: 4px;
  list-style-type: none;
}

.menu-list-item:hover .submenu {
  display: block;
}

.submenu li {
  margin: 5px 0;
}

.submenu a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  width: 150px;
}

.submenu a:hover {
  background-color: #000000;
}

.menu-list-item a {
  color: white;
  text-decoration: none;
}
.menu-list-item a::after {
  /* Pseudo-element untuk garis bawah */
  content: ""; /* Pseudo-element kosong */
  position: absolute; /* Posisi absolut untuk mengontrol garis */
  bottom: 0; /* Garis di bawah teks */
  left: 50%; /* Mulai dari tengah */
  transform: translateX(-50%); /* Geser ke kiri setengah lebar */
  border-bottom: 2px solid transparent; /* Garis transparan awalnya */
  width: 0; /* Lebar garis pendek (awal) */
  transition: width 0.3s ease; /* Transisi untuk memperpanjang garis */
}

.menu-list-item a:hover::after {
  /* Saat hover, perpanjang garis */
  border-bottom: 2px solid aquamarine; /* Ubah garis menjadi terlihat */
  width: 100%; /* Lebarkan garis hingga penuh */
}

.menu-list-item a:hover {
  color: rgb(255, 255, 255); /* Ubah warna teks saat hover */
}
/* navbar pt 2 end */

/* END NAVBAR */

/* HALAMAN DEPAN START */

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: #ffffff;
}
.content-contrainer {
  margin-left: 50px;
}
.featured-content {
  height: 50vh;
  padding: 50px;
}
.featured-title {
  width: 400px;
  margin-left: -30px;
}
.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 25px 0;
}
.featured-button {
  background-color: aquamarine;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.featured-button a {
  color: #fff;
}

.judul h1 {
  color: #ffffff;
}
/* HALAMAN DEPAN END */

/* FILM START */
.movie-list-title {
  
}

.judul {
  display: flex;
  left: 10px;
  position: absolute;
  margin-bottom: 100px;
}

.movie-list-container {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
}

.movie-list-container .judul {
  margin: 20px;
}

.movie-list-wrapper {
  position: relative;
  display: flex;
}
.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
}

.movie-list-item {
  margin-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 0.7s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.movie-list-item-title {
  background-color: #0000006c;
  padding: 1px;
  font-size: 32px;
  font-weight: bold;
  margin-top: -190px;
  margin-bottom: 0px;
  width: 60px;
  z-index: 1;
  margin-left: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  font-size: 15px;
  padding: 7%;
  position: relative;
  background-color: #0000006c;
  width: 250px;
  margin: 0;
  margin-top: auto;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.movie-list-item-button {
  z-index: 1;
  width: 20%;
  font-size: 14px;
  background-color: aquamarine;
  color: #000000;
  padding: 7px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-left: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
  text-decoration: none;
  text-align: center;
}

.movie-list-item-button:hover {
  background-color: white;
}

.arrow {
  font-size: 70px;
  position: absolute;
  top: 130px;
  right: 0px;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.movie-list-title span {
  color: aquamarine;
}

.portfolio-section .card .card-img-top {
  height: 230px;
  width: 100%;
  object-fit: cover;
}
/* FILM END */

.card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: box-shadow 0.5s, transform 0.5s;
  margin-top: 80px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5;
}
.card:hover {
  transform: scale(1.2); /* Memperbesar gambar saat hover */
  z-index: 2;
}
.card:hover img {
  transform: scale(1.1); /* Memperbesar gambar saat hover */
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay:hover {
  opacity: 1;
}

.text {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: aquamarine;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
  font-family: "Poppins", sans-serif;
}

.button:hover {
  background-color: #000000;
  color: #fff;
}

/* SLIDER  */

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  width: 100%; /* Pastikan lebarnya 100% */
  overflow: hidden; /* Pastikan tidak ada overflow */
  position: relative;
  margin: auto;
  margin-top: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Untuk memastikan gambar mengisi container tanpa mempertahankan aspek rasio */
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.mySlides img {
  width: 100%; /* Pastikan gambar mengisi lebar container */
  height: 500px; /* Tetap proporsional sesuai dengan lebar */
  object-fit: cover; /* Untuk memastikan gambar tetap proporsional */
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* tulisan slider */
.movie-info {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.movie-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: lightgray;
  margin-right: 50px;
}

.watch-button {
  background-color: aquamarine;
  color: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 18px;
  text-decoration: none;
  margin-right: 110px;
}

.watch-button:hover {
  background-color: #000000;
  color: #fff;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .movie-info {
    left: 50%;
    transform: translateX(-50%);
  }

  .movie-description {
    margin-right: 0; /* Remove right margin */
  }

  .watch-button {
    margin-right: 0; /* Remove right margin */
  }
}

/* tulisan slide end */

/* Responsiveness */
@media screen and (max-width: 768px) {
  .movie-list-container {
    flex-wrap: wrap; /* Mengubah flex-wrap menjadi wrap agar kartu film dapat menumpuk di bawah saat layar lebih kecil */
    justify-content: center; /* Mengatur konten agar berada di tengah */
  }

  .card {
    width: calc(
      50% - 20px
    ); /* Lebar kartu menjadi 50% dari lebar layar dengan jarak 20px di antara kartu */
    margin-bottom: 20px; /* Menambahkan ruang antara kartu saat tumpukan di bawah */
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: calc(
      100% - 20px
    ); /* Lebar kartu menjadi 100% dari lebar layar dengan jarak 20px di antara kartu */
  }
}

/* RESULT SEARCH START*/
/* CSS for Search Results */
.search-results {
  display: block;
  margin-top: 20px; /* Sesuaikan jarak atasnya sesuai kebutuhan */
}

/* CSS for Search Result Cards */
.search-results .card {
  width: 200px;
  margin-right: 10px;
  float: left;
}

#searchResults {
  position: absolute;
  top: 60px; /* Sesuaikan dengan posisi search bar */
  left: 0;
  right: 0;
  background-color: #101010;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Atur z-index lebih tinggi dari elemen lain */
  max-height: 300px; /* Atur tinggi maksimum */
  overflow-y: auto; /* Aktifkan overflow jika konten melebihi tinggi maksimum */
}
.card-result {
  margin-left: 200px; /* Sesuaikan dengan jarak yang kamu inginkan */
}

.footer {
  background-color: #151515;
  color: #fff;
  padding: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.footer .footer-column {
  flex: 1;
  padding: 0 15px;
}

.footer h4 {
  border-bottom: 1px solid #ffffff33;
  padding-bottom: 5px;
  font-size: 20px;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin: 5px 0;
  font-size: 13px;
  color: aquamarine;
  margin-top: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: aquamarine;
}

.footer ul li a:hover {
  color: #ffffff; /* warna saat hover */
}

.contact-info {
  display: flex;
  align-items: center;
  color: white;
}

.contact-info img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contact-info a {
  color: aquamarine;
  text-decoration: none;
  font-size: 15px;
}

/* Container untuk angka dan card */
.numbered-card {
  display: flex;
  align-items: stretch; /* Menyelaraskan elemen di sepanjang sumbu Y */
  margin-bottom: 20px; /* Jarak antar-card */
}

/* Ukuran gambar angka */
.number-image {
  width: 200px; /* Lebar gambar angka */
  height: auto; /* Otomatis menyesuaikan tinggi */
  object-fit: contain; /* Menjaga proporsi gambar */
  margin-top: 50px;
  margin-right: -80px;
  margin-left: -25px;
}

/* Style card */
.card {
  flex-grow: 1; /* Membuat card mengisi sisa ruang */
  height: 200px; /* Tinggi card */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s, transform 0.5s;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Menyesuaikan gambar dengan tinggi card */
}

.card:hover {
  transform: scale(1.1); /* Efek zoom saat hover */
  z-index: 1; /* Menjaga urutan z-index */
}
.featured-button a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.featured-button a:hover {
  color: white;
}
.featured-button:hover {
  background-color: #151515;
}
.featured-button {
  padding-bottom: 10px;
}

